.carta {  
  
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);

  
  }
  .fondo {
      background-color: green;
      
  }
  .pintas1 {
    margin-left: 10px;
  font-size: 35px;
    
  }
  .cards {
    margin: auto;
      text-align: center;
      font: 50px/140px Georgia, Times New Roman, serif;
  }
  .pintas2 {
    margin-right: 10px;
    text-align-last: end;
    font-size: 35px;
    
  }
